In [2]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('test_data.csv')
s = df["Link"].to_numpy()
qwer = s
qwer

array(['https://stackoverflow.com/questions/74593232/could-i-do-some-maths-in-datetime-python',
       'https://stackoverflow.com/questions/74593230/add-lines-to-multi-donut-graph-in-plotly',
       'https://stackoverflow.com/questions/74593229/jinja-template-contert-string-into-dictionary',
       ...,
       'https://stackoverflow.com/questions/74578185/suppress-mypy-notes',
       'https://stackoverflow.com/questions/74578183/how-can-i-add-values-to-the-begining-and-end-of-rows-in-a-pandas-dataframe',
       'https://stackoverflow.com/questions/74578182/debugging-column-must-appear-in-the-group-by-clause'],
      dtype=object)

In [4]:
answerid = []
parentid = []
username =[]
userid = []
time = []
vote =[]
qna = []

def scfixed():
    try:
        z = driver.find_element(By.XPATH, '*//div[@id = "question-header"]')
        zz = z.text.split()
        try:
            if zz[-3] == '[closed]':
                pass
            else:
                context_qna  = driver.find_elements(By.XPATH, "//div[@class='question js-question']")
                all1= [] ## all question
                for x in context_qna:
                    a = x.find_elements(By.XPATH, "//div[@class='no-answers']")
                    if a != []:
                        answerid.append(np.nan)
                        s = x.find_elements(By.XPATH, '//form[@id="post-form"]')
                        parentid.append(s[0].get_attribute('action').split("/")[4])
                        username.append(np.nan) 
                        userid.append(np.nan)
                        time.append(np.nan) 
                        vote.append(np.nan)
                        qna.append(np.nan)
                    else:
                        a = x.find_elements(By.XPATH, "//div[@id='answers']")
                        g = [s.find_elements(By.XPATH, "//div[@class='answer js-answer accepted-answer js-accepted-answer']") for s in a]
                        h = [s.find_elements(By.XPATH, "//div[@class='answer js-answer']") for s in a]
                        if g == [[]]:
                            all1.extend([s.find_elements(By.XPATH, "//div[@class='answer js-answer']") for s in a][0])
                        else:
                            if h != [[]]:
                                all1.extend(g[0][0:])
                                all1.extend(h[0][0:])
                            else:
                                all1.extend(g[0][0:])
                for s in all1:
                    try:
                        answerid.append(s.get_attribute('data-answerid'))
                    except:
                        answerid.append(np.nan)
                    try:
                        parentid.append(s.get_attribute('data-parentid'))
                    except:
                        parentid.append(np.nan)
                    try:
                        username.append(s.find_element(By.XPATH, '*//div[@class = "user-details"]//a[@href]').text)
                    except:
                        username.append(np.nan)
                    try:
                        userid.append(s.find_element(By.XPATH, '*//div[@class = "user-details"]//a[@href]').get_attribute("href").split("/")[4])
                    except:
                        userid.append(np.nan)
                    try:
                        time.append(s.find_element(By.XPATH, '*//div[@class = "user-action-time"]//span[@title]').get_attribute('title'))
                    except:
                        time.append(np.nan)
                    try:
                        vote.append(s.find_element(By.XPATH, '*//div[@class = "js-vote-count flex--item d-flex fd-column ai-center fc-black-500 fs-title"]').get_attribute('data-value'))
                    except:
                        vote.append(np.nan)
                    try:
                        qna.append(s.find_element(By.XPATH, '*//div[@class = "s-prose js-post-body"]').text)
                    except:
                        qna.append(np.nan)
        except:
            print("Error")
    except:
        print("page note found")
        x = driver.current_url
        answerid.append("page note found")
        parentid.append(x.split("/")[4])
        username.append("page note found") 
        userid.append("page note found")
        time.append("page note found") 
        vote.append("page note found")
        qna.append("page note found")

In [ ]:
driver = webdriver.Chrome('chromedriver')
sum = 0 
for url in qwer:
    sum+=1
    print(sum)
    driver.get(f"{url}")
    driver.implicitly_wait(10)
    scfixed()

In [9]:
data_content = pd.DataFrame({
    'parentid' : parentid,
    'username' : username,    
    'userid' : userid,
    'context': qna,
    'time' : time,
    'vote' : vote,
    })

display(data_content)

,parentid,username,userid,context,time,vote
0,6871016,Mathieu Rodic,734335,The previous answers are correct but it's gene...,2015-09-25 09:43:21Z,852
1,6871016,pieguy,8755831,Import timedelta and date first.\nfrom datetim...,2019-10-23 18:25:09Z,189
2,6871016,fantabolous,3427777,"If you happen to already be using pandas, you ...",2019-11-25 11:38:33Z,40
3,6871016,Pradeep Subash,14373754,"This might help:\nfrom datetime import date, t...",2021-04-19 09:22:40Z,33
4,6871016,Jorge Omar MH,8216629,"If you want add days to date now, you can use ...",2018-02-20 19:51:33Z,18
...,...,...,...,...,...,...
9968,74578188,Remy Lebeau,65863,Your doubleCapacity() function is implemented ...,2022-11-26 00:54:38Z,1
9969,74578186,NaN,NaN,NaN,NaN,NaN
9970,74578185,NaN,NaN,NaN,NaN,NaN
9971,74578183,Fong Sow Leong,12636596,Assume that the column has a name such as df['...,2022-11-26 00:31:03Z,0
9972,74578182,NaN,NaN,NaN,NaN,NaN

In [13]:
print(len(answerid))

10038

In [14]:
data_zaq = pd.DataFrame({
    'answerid' : answerid,
    })

In [34]:
df = pd.read_csv('fail_data.csv')
df2 = pd.read_csv('fail_datasss.csv')
z = df2["answerid"]
df['answerid'] = z
df

,Unnamed: 0,parentid,username,userid,context,time,vote,answerid
0,0,6871016,Mathieu Rodic,734335,The previous answers are correct but it's gene...,2015-09-25 09:43:21Z,852,6871482
1,1,6871016,pieguy,8755831,Import timedelta and date first.\nfrom datetim...,2019-10-23 18:25:09Z,189,6871054
2,2,6871016,fantabolous,3427777,"If you happen to already be using pandas, you ...",2019-11-25 11:38:33Z,40,25570060
3,3,6871016,Pradeep Subash,14373754,"This might help:\nfrom datetime import date, t...",2021-04-19 09:22:40Z,33,64155062
4,4,6871016,Jorge Omar MH,8216629,"If you want add days to date now, you can use ...",2018-02-20 19:51:33Z,18,48893159
...,...,...,...,...,...,...,...,...
9968,9968,74578188,Remy Lebeau,65863,Your doubleCapacity() function is implemented ...,2022-11-26 00:54:38Z,1,3397494
9969,9969,74578186,NaN,NaN,NaN,NaN,NaN,12383730
9970,9970,74578185,NaN,NaN,NaN,NaN,NaN,39188936
9971,9971,74578183,Fong Sow Leong,12636596,Assume that the column has a name such as df['...,2022-11-26 00:31:03Z,0,2195037
9972,9972,74578182,NaN,NaN,NaN,NaN,NaN,9816628

In [35]:
df.to_csv("fail_full_data.csv")